
 .tutorial_bottom {
	border-left-style: none;
	border-right-style: none;
	background-color: #CCCCCC;
}

.example_title {
  border-style: solid solid hidden solid;
  border-width: 1px;
  border-color: #62A0FF;
  overflow: visible;
  padding: 10px;
  margin-left: 3em;
  line-height: 100%;
  margin-bottom: 0em;
  margin-right: 3em;
  background-color: #CEE7FF;
  width: 90%;
  font-size: 90%;
  font-weight: bold;
}

.example_title2 {
  border-style: solid solid hidden solid;
  border-width: 1px;
  border-color: #62A0FF;
  overflow: visible;
  padding: 10px;
  margin-left: 3em;
  line-height: 100%;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 3em;
  background-color: #CEE7FF;
  width: 90%;
  font-size: 90%;
  font-weight: bold;
  text-align: right;
}

.example_button {
	border-style: solid solid solid solid;
	border-width: 1px;
	border-color: #62A0FF;
	background-color: #E1E1E1;
	overflow: visible;
	margin-left: 1em;
	margin-right: 0em;
	padding: 6px;
	padding-bottom: 7px;
}
.example_button a {
   padding: 0;
   color: #5C5C5C;
   text-decoration: none;
 }
 .example_button a:hover {
	color: #3366CC;
	text-decoration: none;
}
.example_button img {
	margin: 0px;
	border-width: 0;
	padding: 0;
	vertical-align: text-bottom;
	padding-bottom: 0;
}

pre.example {
  margin-top: 0em;
  width: 90%;
}

iframe {
	background-color: #CEE7FF;
	border: 1px solid #62A0FF;
	padding: 10px;
	font-family: 'Monotype.com', "Courier New", Courier, monospace;
	font-size: 90%;
	line-height: 125%;
	margin-left: 3em;
	margin-right: 3em;
	margin-top: 0em;
	margin-bottom: 0em;
	height: 30em;
	width: 90%;
}

.example_image {
	text-align: center;
}
